@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #050505; /* Void Black base */
    --foreground: #F5F5F0; /* Albedo Cream */
    --border: #1A1A1A;
    --input: #1A1A1A;
    --ring: #01153D; /* Umbra Navy */

    --primary: #F5F5F0;
    --primary-foreground: #050505;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-inter antialiased selection:bg-visceral-crimson selection:text-albedo;
    /* Forces horizontal scroll off for kinetic animations */
    overflow-x: hidden;
  }

  /* Typography Scale Overrides */
  h1, h2, h3, h4, h5, h6 {
    @apply font-cabinet tracking-tight;
  }
}

@layer utilities {
  /* Liquid Glass Component Utility */
  .liquid-glass {
    @apply bg-void-black/40 backdrop-blur-md border border-white/5 shadow-2xl;
  }

  /* Haptic Icon Utility */
  .haptic-node {
    @apply bg-void shadow-haptic-emboss transition-all duration-300 active:shadow-haptic-pressed;
  }
}